Source: appmotor
Section: devel
Priority: optional
Maintainer: YoyoOS <yoyoos@foxmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
			         qtbase5-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               libsystemd-dev,
               libcap-dev,
               libdbus-1-dev
Standards-Version: 4.5.0
Homepage: https://github.com/yoyoos/appmotor

Package: appmotor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: YoyoOS Appmotor
